:root {
  --color-primary: #692f6a;
  --color-secondary: #007944;
  --color-ternary: #ffdd57;
  --color-primary-400: #af4fb0;
  --color-ternary-50: #fffcf2;
  --body-background-color: var(--color-ternary-50);
  --body-text-color: #111827;
  --card-background-color: #fff6d9;
  --nav-background-color: var(--color-ternary);
  --nav-border-bottom-color: var(--color-ternary);
  --nav-current-border-bottom-color: var(--color-ternary);
  --card-border-color: var(--color-ternary-50);
  --down-border-left-color: #eb3b5a;
  --down-background-color: #ffd0d2;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #20bf6b;
  --tag-color: var(--color-ternary-50);
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: var(--color-primary);
  --error-button-background-color: var(--color-primary);
  --error-button-color: var(--color-ternary-50);
  --submit-button-border-color: var(--color-primary);
  --submit-button-background-color: var(--color-primary);
  --submit-button-color: var(--color-ternary-50);
  --graph-opacity: 1;
  --graph-filter: none;
}

html {
  background-color: var(--color-ternary);
}

body {
  padding: 0 !important;
}

#sapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

@media (min-width: 800px) {
  main {
    min-width: 800px;
  }
}

.logo.svelte-a08hsz img.svelte-a08hsz {
  height: 5rem;
}

.svelte-jbr799 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-ternary);
  opacity: 1 !important;
}

.svelte-jbr799 p {
  font-size: .875rem;
  max-width: 1280px;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4, h5 {
  color: var(--color-secondary);
}

.logo.svelte-a08hsz div {
  display: none;
}

a {
  color: var(--color-primary) !important;
  cursor: pointer;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
}

a:not(.error-button):hover {
  color: var(--color-primary-400) !important;
}

a.error-button {
  color: var(--error-button-color) !important;
}

a.error-button:hover {
  background-color: var(--color-primary-400) !important;
}

a.svelte-a08hsz.svelte-a08hsz {
  font-weight: 500;
}

form label.svelte-fqsq6s {
  color: var(--color-primary);
  cursor: pointer;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
}

form label.svelte-fqsq6s:hover {
  color: var(--color-primary-400);
}
