:root {
  --color-primary: #692f6a;
  --color-secondary: #007944;
  --color-ternary: #ffdd57;
  --color-primary-400: #af4fb0;
  --body-background-color: #fffcf2;
  --body-text-color: #111827;
  --card-background-color: #fff6d9;
  --nav-background-color: var(--color-ternary);
  --nav-border-bottom-color: var(--color-ternary);
  --nav-current-border-bottom-color: var(--color-primary);
  --card-border-color: var(--color-secondary);
  --down-border-left-color: #eb3b5a;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #20bf6b;
  --tag-color: #002b29;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}

html {
  background-color: var(--color-ternary);
}

h1, h2, h3, h4, h5 {
  color: var(--color-secondary);
}

.logo.svelte-a08hsz div {
  display: none;
}

a.svelte-a08hsz.svelte-a08hsz {
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
}

a.svelte-a08hsz.svelte-a08hsz:hover {
  color: var(--color-primary-400);
}


